#p1 {
    font-weight: bold
}
.div {
    display: block
}
.h1{
    font-weight: bold;
    font-family: inherit;
    line-height: 1.1;
    color: #222;
    margin-top: 0;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.h2 {
    font-family: inherit;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 500;
    line-height: 1.1;
    color: #222;
    margin-top: 0;
    margin-bottom: .66em;
}

.col-sm-3 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
@media only screen and (max-width: 720px) {
    .container-xs, .container-sm, .container-md {
        margin-right: auto;
        margin-left: auto;
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
  }

.page-intro {
    padding-bottom: 2em;
    padding-top: 2em;
    text-align: center;
    background-color: rgb(247,247,247)
}
.page-content {
    position: relative;
}
.lead {
    margin-bottom: .75em;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4;
}
.body {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    background-color: #f7f7f7;
}
.page-title {
    line-height: 1.1;
    color: #222;
    margin-top: 0;
}
.container-xs, .container-sm, .container-md {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10%;
    padding-right: 10%;
}

.section {
    padding-bottom: 2em;
    padding-top: 2em;
    box-sizing: border-box;
}

.img {
    vertical-align: middle;
    border:0
}
  
.col-sm-3 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
}
