
:root {
  --mainColor: #a1271f;
  --backgroundColor: #f7f7f7;;
}


/* nav specific code*/
.show > .nav {
  color: var(--mainColor) !important;
  border-top: 4px solid var(--mainColor) !important;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item.active {
	background-color: transparent !important;
}

.dropdown.show.nav-item > a {
	color: var(--mainColor) !important;
	border-top: 4px solid var(--mainColor) !important;
}

.nav-link.active {
	color: var(--mainColor) !important;
}
