

.header li, .header ul {
  display: inline;
  list-style-type: none;
  margin: 0;
}

.header {
  /*background-color: #111;*/
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  height: 64px;
}

.header li a {
  color: #666666;
  font-weight: bold;
  text-decoration: none;
  padding: 15px;
  display: inline-block;
  border-top: 4px solid white;
  width: 80px;
  text-align: center;
}

.header li a:hover {
  color: #a1271f;
  cursor: pointer;
  border-top: 4px solid #a1271f;
}

.header img {
  padding: 7px;
  flex: 1;
  padding-left: 80px;
}

.headerMenu {
  flex: 3;
}

.headerUser {
  flex: 1;
}

.content {
  padding: 0px;
}
